<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/head.ejs') %>
  <title></title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <%- include('../layouts/header.ejs')%>
  </header>
  
  <main>
    <ul>
      <% recipesDetails.forEach(item=>{ %>
        <a href='d<%= item.id %>'>
          <section class="resultView">
            <div class='overlayContainer'>
                <img src="<%= item.image_url %>" class="image" />
                <div class="overlay">
                    <div class="text"><%= item.name %></div>
                </div>
            </div>
        </section></a>
      <% }); %>
    </ul>
  </main>

</body>
</html>