<!DOCTYPE html>
<html lang="en">

    <%- include ('../layouts/head') %>

<body class='lightBg'>
    <%- include ('../layouts/header') %>
    <section>
        <section class="recipe-template">
            <p><br><%= bookmark.name %></p><br><br>
            <img src="<%= bookmark.image_url %>"><br><br>
            <p><%= bookmark.instructions %></p><br><br>
            <p><%= bookmark.category %></p><br><br>
            <p><%= bookmark.area %></p><br><br>
            <p>Ingredients: </p>       
            <ul>
              <% ingrArr.forEach(ingredient =>{ %>
              <li><%= ingredient.split('+')[0] %> <%= ingredient.split('+')[1] %></li>
              <img src="https://www.themealdb.com/images/ingredients/<%= ingredient.split('+')[1] %>.png">
                <% }); %>
            </ul>
            <iframe width="420" height="315" src="<%= bookmark.video_url %>" frameborder="0" gesture="media"
                allow="encrypted-media" allowfullscreen></iframe>
        </section>
    </section>
    <form action="/bookmarks/<%= bookmark.id %>?_method=DELETE" method="POST">
        <input type="hidden" id="id_user" name="id_user">
        <input type="submit" value="Delete Bookmark">
    </form>
    <script>
        if(localStorage.getItem('token') == undefined) {
        window.location.replace("/registerForm")
}

    document.getElementById('id_user').value = localStorage.getItem('id')
  
    </script>
</body>

</html>