<!-- cookbook -->
<!DOCTYPE html>
<html lang="en">
    <%- include ('../layouts/head') %>
<body id='detialMian' class='lightBg'>
    <%- include ('../layouts/header') %>
    <p id="elementsCountBookmarks">You have <%= bookmarksList.length %> bookmarks in your cookbook.</p>
<section class="bookmarksShow">
    <% bookmarksList.forEach(bookmark => { %>
    <a href='/bookmarks/<%= bookmark.id %>'>
        <section class="resultView">
          <div class='overlayContainer'>
              <img src="<%= bookmark.image_url %>" class="image" />
              <div class="overlayImage">
                  <div class="text"><%= bookmark.name %></div>
              </div>
          </div>
      </section></a>
    <% }); %>
</section>

<script>
    if(localStorage.getItem('token') == undefined) {
    window.location.replace("/registerForm")
}
</script>
<%- include ('../layouts/footer') %>

</body>
</html>
