<!DOCTYPE html>
<html lang="en">
<%- include ('layouts/head') %>

<body id='body'>
    <section id='hero'>
        <%- include ('layouts/header') %>

        <main>
            <section id="slogan">
                <img src="/cooking.png" alt="">
                <h1>FOOD MADE WITH LOVE </h1>
                <div id="line"></div>
                <p>Take a slice of the world's perfect culinary heaven!</p>
                <a href='aAmerican'><button id="viewSearchButton">SEARCH RECIPES</button></a>
                <a href="#randomSection"><button>TODAY'S SPECIALS</button></a>


            </section>
        </main>
    </section>
    <section id="randomSection">
        <h2 id='randomH2'>Today's Specials</h2>
        <div id='line'></div>
        <section id='randomItems'>
            <% recipesRandomly.forEach(item=>{ %>
            <a href='d<%= item.id %>'>
                <section class="resultView">
                    <div class='overlayContainer'>
                        <img src="<%= item.image_url %>" class="image" />
                        <div class="overlayImage">
                            <div class="text"><%= item.name %></div>
                        </div>
                    </div>
                </section>
            </a>
            <% }); %>
        </section>
    </section>
    <%- include ('layouts/footer') %>
</body>



</html>