<!DOCTYPE html>
<html lang="en">
<%- include ('layouts/head') %>

<body>
        <%- include ('layouts/header') %>
        <main>

             <% recipesRandomly.forEach(item=>{ %>
<section class="resultDetails">
          <img src="<%= item.image_url %>" />

          <h2><%= item.name %></h2>

          <h4><%= item.category %></h3>

          <p><%= item.area %></p>

          <p><%= item.instructions %></p>

          <iframe src="<%= item.video_url %>"></iframe>
          <br />
        </section>
        <% }); %>
        </main>

            <form action="/searches" method="POST">
                <input type="text" name="search">
            <select name="sort">
                <option value="name">Name</option>
                <option value="category">Category</option>
                <option value="area">Origin</option>
            </select>
        <input type="submit" value="submit">
        </form>        </main>

        <%- include ('layouts/footer') %>
</body>

</html>