
<!DOCTYPE html>
<html lang="en">
    <%- include ('../layouts/head') %>

<body>
    <%- include ('../layouts/header') %>
    <main>
        <section>
            <section class="recipe-template">
                <p><br><%= recipe.name %></p><br><br>
                <img src="<%= recipe.image_url %>"><br><br>
                 <p><%= recipe.instructions %></p><br><br>
                 <p><%= recipe.category %></p><br><br>
                 <p><%= recipe.area %></p><br><br>
                 <p>Ingredients: </p>       
                 <ul>
                   <% ingrArr.forEach(ingredient =>{ %>
                   <li><%= ingredient.split('+')[0] %>  <%= ingredient.split('+')[1] %></li>
                     <% }); %>
                 </ul>
                 <iframe width="420" height="315" src="<%= recipe.video_url %>" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </section>
        </section>
        <form action="/recipes/<%= recipe.id %>" method="POST">
            <button type="submit">Update Details</button>
        </form>
        <form action="/recipes/<%= recipe.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Recipe">
        </form>
    </main>
    <%- include ('../layouts/footer') %>

</body>
</html>