<!-- cookbook -->
<!DOCTYPE html>
<html lang="en">
    <%- include ('../layouts/head') %>
<body>
    <%- include ('../layouts/header') %>
<main>
    <p class="elementsCount">Number of recipes in your cookbook: <%= recipesList.length %></p>
<section>
    <% recipesList.forEach(recipe => { %>
    <section class="recipe-template">
        <p><br><%= recipe.name %></p><br><br>
        <img src="<%= recipe.image_url %>"><br><br>
        <button id="viewDetailsButton"><a href="/recipes/<%= recipe.id %>">View Recipe</a></button>

    </section>
    <% }); %>
    <form action="/recipes/add" method="GET">
        <button type="submit">Add Recipe</button>
    </form>

</section>
</main>

<script>
    if(localStorage.getItem('token') == undefined) {
    window.location.replace("/registerForm")
}



</script>
</body>
</html>
