<!-- cookbook -->
<!DOCTYPE html>
<html lang="en">
    <%- include ('../layouts/head') %>

<body class='lightBg'>
    <%- include('../layouts/header.ejs') %>

<main id="detailMain">
    <p class="elementsCount">You have <%= recipesList.length %> recipes in your cookbook.</p>
    <form action="/recipes/add" method="GET">
        <button class='mainAddButton' type="submit"><i class="fa fa-plus"
            style="font-size:36px;color:white"></i> <span style="position: relative;bottom: 5px"> Add Recipe</button>
    </form>
<section class="recipesShow">
    <% recipesList.forEach(recipe => { %>
        <a href='/recipes/<%= recipe.id %>'>
            <section class="resultView">
              <div class='overlayContainer'>
                  <img src="<%= recipe.image_url %>" class="image" />
                  <div class="overlayImage">
                      <div class="text"><%= recipe.name %></div>
                  </div>
              </div>
          </section></a>
    <% }); %>
</section>
</main>

<script>
    if(localStorage.getItem('token') == undefined) {
    window.location.replace("/registerForm")
}



</script>

<%- include ('../layouts/footer') %>

</body>
</html>
