<!-- cookbook -->
<!DOCTYPE html>
<html lang="en">
    <%- include ('../layouts/head') %>

<body class='lightBg'>
    <%- include('../layouts/header.ejs') %>

<main>
    <p class="elementsCount">Number of recipes in your cookbook: <%= recipesList.length %></p>
<section>
    <% recipesList.forEach(recipe => { %>
        <a href='/recipes/<%= recipe.id %>'>
            <section class="resultView">
              <div class='overlayContainer'>
                  <img src="<%= recipe.image_url %>" class="image" />
                  <div class="overlayImage">
                      <div class="text"><%= recipe.name %></div>
                  </div>
              </div>
          </section></a>
    <% }); %>
    <form action="/recipes/add" method="GET">
        <button type="submit">Add Recipe</button>
    </form>
</section>
</main>

<script>
    if(localStorage.getItem('token') == undefined) {
    window.location.replace("/registerForm")
}



</script>
</body>
</html>
